*{
  box-sizing: border-box;
}
body,html{
  height:100%;
}
.app{
  display:flex;
  background-color: #e9ecef;
  min-height: 100%;
  
  font-family: 'Times New Roman', Times, serif;
  flex-direction: column;
  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  min-height:100px;
  margin:20px;
 padding:20px;
  display: flex;
 flex-direction: column;
}
.title{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size:30px;
  margin-bottom: 10px;
}
.delB{
 cursor: pointer;
  background-color:transparent;
  border:none;
  text-align: right; 
 
}
.form{
  display:flex;
  background-color:#e8e8e8;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  
}
.inp{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}